/*Sudoku Board*/

.sudoku {
    border:4px solid black;
    border-collapse: collapse;
}

tr {
    padding:0;
}
td {
    padding:0; 
    border:1px solid black; 
    width:1em;
}
input {
    width:1em; 
    border:0;  
    text-align:center;
    font-size: 5em;
}
